.crop-page {
  text-align: center;
  padding: 40px;
  background-color: #f8f9fa;
  min-height: 100vh;
}

.crop-page h1 {
  font-size: 2.5rem;
  color: #2b7a0b;
  margin-bottom: 20px;
}

.crop-image {
  width: 60%;
  max-width: 600px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.crop-page p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #333;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  
}
