/* src/pages/Landing.css */
.landing-container {
  display: flex;
  min-height: 100vh;
  background: url("https://i.pinimg.com/736x/cc/fa/00/ccfa009501d6b4e0d1c5cba34cdeb0e6.jpg") no-repeat center center;
  background-size: cover;

  
}

/* Sidebar */
.sidebar {
 
  width: 250px; /* adjust based on your layout */
  min-height: 100vh; /* make it stretch full height */

  /* background image */
  background: url("https://i.pinimg.com/1200x/04/ae/09/04ae090e423021079ceacaa3915d6288.jpg") no-repeat center center;
  background-size: cover;

  /* optional: add a semi-transparent overlay */
  background-color: rgba(0, 0, 0, 0.4); /* dark overlay */
  
  

  /* styling */
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}


.logo {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

/* Search bar */
.sidebar-search {
  margin-bottom: 20px;
}

.sidebar-search input {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 6px;
  font-family: 'Lora', serif;
}

/* Navigation */
.nav-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1.5rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.3s;
  font-family: 'Lora', serif;
}

.nav-links a:hover {
  color: #c8e6c9;
}

/* Main content */
.main-content {
  flex: 1;
  padding: 40px;
  background: url("https://i.pinimg.com/736x/cc/fa/00/ccfa009501d6b4e0d1c5cba34cdeb0e6.jpg") no-repeat center center;
  background-size: cover;
  background-position: center;
    background-attachment: fixed;


}



.welcome-box,
.weekly-placeholder,
.weather-fact,
.weather-mood {
  background: white;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h2, h3, h4 {
  color: #003366;
  margin-bottom: 0.5rem;
    font-family: 'Montserrat', sans-serif;
}

/* Global search under Agriconnect */
.global-search input {
  width: 250px;
  padding: 8px;
  margin-left: 20px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-family: 'Lora', serif;
}

/* Weather search above cards */
.weather-search {
  margin: 15px 0;
}

.weather-search input {
  width: 200px;
  padding: 6px;
  border-radius: 12px;
  border: 1px solid #4CAF50;
}

.weather-search button {
  padding: 6px 10px;
  margin-left: 5px;
  border: none;
  border-radius: 8px;
  background: #4CAF50;
  color: white;
  cursor: pointer;
}
.welcome h2 {
  font-size: 2.9rem;
  margin-left: 200px;
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
  color: darkgray;
}
.welcome p {
  font-size: 1.2rem;
  margin-left: 270px;
  font-family: 'Lora', serif;
  color: #e8f5e9;
}
.weather-section h2 {
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 300px;
  font-size: 2.2rem;
  color: darkgray;
  font-family: 'Montserrat', sans-serif;
}